<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ticml.contabilidad">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".DetalleDocumento"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".DetalleTransaccion"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".InformeContable"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Documento"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Transaccion"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PeriodoContable"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".InformacionCuentaTercero"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".InformacionCuentaEmpresa"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Cuentas"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".InicioSesion"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>